<div class="page-content row">
    <!-- Page header -->
<div class="page-header">
	<div class="page-title">
	<h3> <?php echo $pageTitle ?> <small><?php echo $pageNote ?></small></h3>
	</div>
	<ul class="breadcrumb">
		<li><a href="<?php echo base_url('dashboard') ?>"> Dashboard </a></li>
		<li><a href="<?php echo base_url('{class}') ?>"><?php echo $pageTitle ?></a></li>
		<li class="active"> Form </li>
	</ul>  	  
</div>
 
 	<div class="page-content-wrapper m-t">
		<?php echo $this->session->flashdata('message');?>
			<ul class="parsley-error-list">
				<?php echo $this->session->flashdata('errors');?>
			</ul>
		 <form action="<?php echo base_url('{class}/save/'.$row['{key}']); ?>" class='form-{form_display}' 
		 parsley-validate='true' novalidate='true' method="post" enctype="multipart/form-data" > 


{form_entry}
		
			<div style="clear:both"></div>	
				
 		<div class="toolbar-line text-center">		
			<input type="submit" name="apply" class="btn btn-info btn-sm" value="<?php echo lang('apply'); ?>" />
			<input type="submit" name="submit" class="btn btn-primary btn-sm" value="<?php echo lang('submit'); ?>" />
			<a href="<?php echo base_url('{class}');?>" class="btn btn-sm btn-warning"><?php echo lang('cancel'); ?> </a>
 		</div>
			  		
		</form>

	</div>	
</div>	
</div>
			 
<script type="text/javascript">
$(document).ready(function() { 
{form_javascript} 	 
});
</script>		 