  <?php usort($tableGrid, "SiteHelpers::_sort"); ?>
  <div class="page-content row">
    <!-- Page header -->
    <div class="page-header">
      <div class="page-title">
        <h3> <?php echo $pageTitle ?> <small><?php echo $pageNote ?></small></h3>
      </div>

      <ul class="breadcrumb">
        <li><a href="<?php echo base_url('dashboard') ?>">Dashboard</a></li>
        <li class="active"><?php echo $pageTitle ?></li>
      </ul>

    </div>


	<div class="page-content-wrapper m-t">
    <div class="toolbar-line ">		
		<?php if($this->access['is_add'] ==1) : ?>
		<a href="<?php echo base_url('{class}/add') ?>" class="tips btn btn-xs btn-info"  title="New">
		<i class="fa fa-plus"></i>&nbsp;<?php echo lang('new'); ?> </a>
		<?php endif;
		if($this->access['is_remove'] ==1) : ?>		
		<a href="javascript:void(0);"  onclick="SximoDelete();" class="tips btn btn-xs btn-danger" title="Remove">
		<i class="fa fa-trash-o"></i>&nbsp;<?php echo lang('remove'); ?> </a>
		<?php endif;
		if($this->access['is_excel'] ==1) : ?>	
		<div class="btn-group">				
		   <button type="button" class="btn btn-primary btn-xs dropdown-toggle tips"  title=" Download "
			  data-toggle="dropdown">
			  <i class="fa fa-download"></i> <?php echo lang('download'); ?><span class="caret"></span>
		   </button>
		   <ul class="dropdown-menu" role="menu">
			  <li><a href="<?php echo base_url( '{class}/export/excel') ;?>" title="Export to Excel" > Export Excel </a></li>
			  <li><a href="<?php echo base_url( '{class}/export/word');?>"  title="Export to Word"> Export Word </a></li>
			  <li><a href="<?php echo base_url( '{class}/export/csv');?>'"   title="Export to CSV"> Export CSV</a></li>
		   </ul>
		</div> 			
		<?php endif;?>		
		<a href="<?php echo base_url( '{class}/export/print') ;?>" onclick="ajaxPopupStatic(this.href); return false;" class="tips btn btn-xs btn-info"  title=" Print ">
		<i class="fa fa-print"></i> Print </a>	
		<?php 
		if($this->session->userdata('gid') ==1) : ?>	
		<a href="<?php echo base_url('sximo/module/config/{class}') ?>" class="tips btn btn-xs btn-default"  title="Configuration">
		<i class="fa fa-cog"></i>&nbsp;<?php echo lang('config'); ?></a>
		<?php endif; ?>		

	</div>
	<?php echo $this->session->flashdata('message');?>
	 <form action='<?php echo base_url('{class}/destroy') ?>' class='form-horizontal' id ='SximoTable' method="post" >
	 <div class="table-responsive">
    <table class="table table-striped ">
        <thead>
			<tr>
				<th> No </th>
				<th> <input type="checkbox" class="checkall" /></th>

				<?php foreach ($tableGrid as $k => $t) : ?>
					<?php if($t['view'] =='1'): ?>
						<th><?php echo SiteHelpers::activeLang($t['label'],(isset($t['language'])? $t['language'] : array()))  ?></th>
					<?php endif; ?>
				<?php endforeach; ?>
				<th>Action</th>
			  </tr>
        </thead>

        <tbody>
			<tr id="sximo-quick-search" >
				<td> # </td>
				<td> </td>
				<?php foreach ($tableGrid as $t) :?>
					<?php if($t['view'] =='1') :?>
					<td>						
						<?php echo SiteHelpers::transForm($t['field'] , $tableForm) ;?>								
					</td>
					<?php endif;?>
				<?php endforeach;?>
				<td style="width:130px;">
				<input type="hidden"  value="Search">
				<button type="button"  class=" do-quick-search btn btn-xs btn-info"> GO</button></td>
			  </tr>			
			<tr >
			<?php foreach ( $rowData as $i => $row ) : ?>
                <tr>
					<td width="50"> <?php echo ($i+1+$page) ?> </td>
					<td width="50"><input type="checkbox" class="ids" name="id[]" value="<?php echo $row->{key} ?>" />  </td>
				 <?php foreach ( $tableGrid as $j => $field ) : ?>
					 <?php if($field['view'] =='1'): ?>
					 <td>
					 <?php 
							$conn = (isset($field['conn']) ? $field['conn'] : array() );
							echo AjaxHelpers::gridFormater($row->$field['field'], $row , $field['attribute'],$conn);
					?>	
					 </td>
					 <?php endif; ?>
				 <?php endforeach; ?>
				 <td>
					 <div class="btn-group">		
						<button class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown"  aria-expanded="false">
						<i class="fa fa-cog"></i> <span class="caret"></span>
						</button>
						<ul  class="dropdown-menu  icons-left pull-right">					 	

					 	<?php if($access['is_detail'] ==1) : ?>
						<li><a href="<?php echo base_url('{class}/show/'.$row->{key})?>"  class="tips "  title="view"><i class="fa  fa-search"></i> <?php echo lang('view'); ?> </a></li>
						<?php endif;
						if($access['is_edit'] ==1) : ?>
						<li><a  href="<?php echo base_url('{class}/add/'.$row->{key})?>"  class="tips "  title="edit"> <i class="fa fa-edit"></i> <?php echo lang('edit'); ?> </a> </li>
						<?php endif;?>
												
						</ul>
					</div>					 
					
					</td>
                </tr>

            <?php endforeach; ?>

        </tbody>

    </table>
	</div>
	</form>
	
	<?php echo $this->load->view('footer');?>
	</div>
</div>

<script>
$(document).ready(function(){

	$('.do-quick-search').click(function(){
		$('#SximoTable').attr('action','<?php echo base_url("{class}/multisearch");?>');
		$('#SximoTable').submit();
	});
	
});	
</script>
