
<div class="page-header">  <!-- Page header -->
                <div class="container-fluid">
                    <div class="row">
							<div id="breadcrumb">
								<?php echo $breadcrumbs; ?>
							</div>                        
					</div>                
				</div>   
				   
</div>
            
