/*

Template Name: Porto - Premium Html5 eCommerce Template
Template URI:
Description: Premium bootstrap based html5 e-commerce template
Version:1.0

*/


/* =============================================
-------------------  1.General ---------------
==============================================*/

.sponsored_by {
	text-align: center;
	padding: 2px;
	font-weight: bold;
	background: #000;
	color: #fff;
}

.error_404 {
	
}
