
<div class="page-header">  <!-- Page header -->
                <div class="container-fluid">
                    <div class="row">
							<div id="breadcrumb">
								<?php echo $breadcrumbs; ?>
							</div>                        
					</div>                
				</div>   
				             
                <div class="row">
                        <div class="col-md-7">
                      	    
                            <h3 class="h3 page-title"><i class="icon-database text-danger"></i>  <?php echo $pageTitle; ?></h3>
                            <div class="text-muted page-desc"> <?php echo $pageNote; ?></div>
                        </div>
                        <div class="col-md-5 charts">
                            <div class="row">
                                <div class="col-12 col-sm-4">
                                    <div class="chart-wrapper" style="height:33px"><iframe class="chartjs-hidden-iframe" style="display: block; overflow: hidden; border: 0px none; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;" tabindex="-1"></iframe>
                                        <canvas id="header-chart-1" class="chart" height="33" style="display: block; width: 140px; height: 33px;" width="140"></canvas>
                                    </div>
                                    <div class="text-center title">
                                        <span class="text-muted">Income:</span>
                                        <strong>$189.128</strong>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-4">
                                    <div class="chart-wrapper" style="height:33px"><iframe class="chartjs-hidden-iframe" style="display: block; overflow: hidden; border: 0px none; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;" tabindex="-1"></iframe>
                                        <canvas id="header-chart-2" class="chart" height="33" style="display: block; width: 140px; height: 33px;" width="140"></canvas>
                                    </div>
                                    <div class="text-center title">
                                        <span class="text-muted">New clients:</span>
                                        <strong class="text-danger">1.128</strong>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-4">
                                    <div class="chart-wrapper" style="height:33px"><iframe class="chartjs-hidden-iframe" style="display: block; overflow: hidden; border: 0px none; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;" tabindex="-1"></iframe>
                                        <canvas id="header-chart-3" class="chart" height="33" style="display: block; width: 140px; height: 33px;" width="140"></canvas>
                                    </div>
                                    <div class="text-center title">
                                        <span class="text-muted">Orders:</span>
                                        <strong class="text-success">2.345</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
</div>
            
