<?php
  //echo $header;
  //$theme_options = $registry->get('theme_options');
  //$config = $registry->get('config');
  //include('catalog/view/theme/' . $config->get($config->get('config_theme') . '_directory') . '/template/new_elements/wrapper_top.tpl');
?>

<div class="error_404">
  <p><?php echo $text_error; ?></p>
  <div class="buttons">
    <div class="pull-right"><a href="<?php echo $continue; ?>" class="btn btn-primary"><?php echo $button_continue; ?></a></div>
  </div>
</div>

<?php
  //include('catalog/view/theme/' . $config->get($config->get('config_theme') . '_directory') . '/template/new_elements/wrapper_bottom.tpl');
  //echo $footer;
?>
