<div class="page-content row">
		
	<!-- Begin Content -->
	<div class="page-content-wrapper m-t">

		<div class="resultData"></div>
		<div class="ajaxLoading"></div>
		<div id="{class}View"></div>			
		<div id="{class}Grid"></div>
	</div>	
	<!-- End Content -->  
</div>	
<script>


	var display{class}FilterPanel = Cookies.set('ti_display{class}FilterPanel');
	function dofilterbutton_click()
	{
	
		
	}



	function filterList()
	{
		$('#filter-form').submit();
	}


	function dofilterList()
	{
		var attr = '';
		attr ='search:'+$('#search').val()+'|';
		if ($('#panel-filter').css("display") == 'none')
		{
			display{class}FilterPanel = 'false';
		} else
		{
			display{class}FilterPanel = 'true';
			$( '#{class}Filter :input').each(function() {
				if(this.value !=='' && this.name !='_token'  && this.name !='search') { attr += this.name+':'+this.value+'|'; }
			});
		}		
		Cookies.set('ti_display{class}FilterPanel', display{class}FilterPanel);
		reloadData( '#{class}',"{class}/data?search="+attr);	
	}
	

	function dosearchbutton_click()
	{
		dofilterList();

	}
	
	function loadControlvalues()
	{
			if (display{class}FilterPanel == 'true')
			{
				$('#panel-filter').attr("style", "display:block");
			} 
			else
			{
				$('#panel-filter').attr("style", "display:none");
			}

	}

$(document).ready(function(){

	reloadData('#{class}','{class}/data');	
});	
</script>		